@import url("https://fonts.cdnfonts.com/css/circe");

@font-face {
    font-family: 'protosans56';
    src: url("protosans56.otf");
}

header {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: protosans56;
    /* color: azure; */
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 23px;
    border-bottom: dashed 1px azure;
    grid-template-columns: repeat(4, 1fr);
}

/* header:first-child {
    padding-left: 12px;
    grid-column: 1/4;
} */

.header-right {
    display: grid;
}

header a {
    color: azure;
}

main section {
    display: grid;
}

.kletki {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    font-family: Circe Bold;
}

.contactzag {
    background-color: black;
    color: rgb(20, 143, 192);
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 37px;
}

.contactitems {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    grid-gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contactitem {
    color: azure;
}

#kl2 {
    border-bottom: 2px azure dotted;
}

.map {
    background-color: black;
    padding-top: 3%;
    display: grid;
    justify-content: center;
    padding-bottom: 3%;
}

.map iframe {
    width: 80vw;
    height: 50vh;
}

@media (max-width: 540px) {
    .kletki {
        grid-template-columns: 1fr;
    }

    #zag2 {
        grid-row: 1/2;
    }
}