@import url("https://fonts.cdnfonts.com/css/circe");

@font-face {
    font-family: 'protosans56';
    src: url("protosans56.otf");
}

header {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: protosans56;
    color: azure;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 23px;
    border-bottom: dashed 1px azure;

}

main .mainsecimg {
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    /* padding-left:10%;
    padding-right:10%; */
    grid-template-rows: repeat(4, 1fr);
}

.mainsecimg img {
    width: 100%;
    height: 70%;
    grid-row: 1/5;
    grid-column: 1/4;
    filter: brightness(60%);
}


.mainzag {
    color: azure;
    font-weight: bolder;
    grid-column: 1/2;
    position: absolute;
    justify-self: center;
    top: 15%;
    font-size: 40px;
    font-family: "Circe Bold";
}

.menucard {
    /* background-color: black; */
    color: azure;
    /* border: azure solid 3px; */
    background-repeat: no-repeat;
    background-size: cover;
    border: azure solid 3px;
    /* color: rgb(20, 143, 192); */
    /* background-color: azure; */
    /* background-color: black; */
    /* background-image: url(https://th.bing.com/th/id/OIG1.vJvf5JhzE12kCo7ZVzBZ?w=270&h=270&c=6&r=0&o=5&pid=ImgGn); */
    background-image: url(Untitled\ \(2\).svg);
    font-family: protosans56;
    grid-row: 3/4;
    grid-column: 1/2;
    z-index: 2;
    border-radius: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.menucard:hover {
    zoom: 140%;
    font-size: 18px;
    filter: brightness(80%);
    color: rgba(202, 50, 151, 0.8);
}

main section {
    grid-column: 1/2;
    display: grid;
}

@keyframes colorChange {

    0%,
    100% {
        color: azure;
    }

    50% {
        color: rgb(20, 143, 192);
        text-shadow: 2px -3px 2px rgb(106, 163, 185);
    }
}

#contactslink {
    grid-column: 2/3;
}

.blink {
    animation: colorChange 0.23s ease-in-out 0s 2 normal none;
}

#zakazlink {
    grid-column: 3/4;
}

.onas {
    color: azure;
    font-family: protosans56;
    grid-column: 1/2;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.onas div:first-child {
    display: grid;
    grid-column: 1/3;
    justify-content: center;
}


.onas h1,
.autopark h1 {
    font-weight: 100;
    font-size: 30px;
    font-family: Circe Bold;
}

.autopark {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3%;
}

.autopark .forh1 {
    grid-column: 1/4;
    color: azure;
    justify-content: center;
    display: grid;
}

.auto {
    border: black solid 6px;
    border-radius: 15px;
    justify-content: center;
    display: grid;
    padding-left: 13px;
    padding-right: 13px;
    background-color: black;
}

.autoimg {
    margin-top: 13px;
    margin-bottom: 13px;
    display: grid;
    justify-content: center;
}

.autoimg img {
    border-radius: 10px;
    width: 25vw;
}

#autoimg2,
#autoimg3 {
    height: 87.5%;
}

.autotable {
    display: grid;
    align-content: center;
}

.autotable table td {
    border: 1px solid rgb(20, 143, 192);
    /* border: 1px solid rgb(106, 163, 185); */
    color: azure;
    font-family: Circe Bold;
}

.autotable table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 13px;
}

.autotable table tr td {
    padding-left: 10px;
    padding-right: 4px;
}

@media (max-width: 860px) {
    .auto {
        grid-column: 1/4;
    }

    .autoimg img {
        width: 80vw;
    }
}

@media (min-width: 540px) and (max-width: 890px){
    .menucard{
        font-size: 17px;
    }
}


@media (max-width: 540px) {

    .menucard {
        display: none;
    }

    .autopark h1 {
        margin-bottom: 4px;
    }

}

@media (max-width: 300px) {
    .mainzag {
        font-size: 30px;
    }
}